.container {
  padding-left: 30px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.chart-zone {
  padding: 10px 0px 25px;
  height: auto;
  width: 100%;
}

.card-details {
  text-transform: capitalize;
  font-weight: 400;
  color: rgba(37, 0, 37, 0.6);
  font-size: 0.75rem;
}
